/* src/components/RoleBasedView/RoleBasedView.css */
.role-view {
  padding: 40px;
  width: 80%;
  max-width: 500px;
  border-radius: 10px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  background-color: #fff;
}

.admin-view {
  background-color: #e0f7fa;
}

.recruiter-view {
  background-color: #e1bee7;
}

.applicant-view {
  background-color: #ffecb3;
}

.role-view h2 {
  font-size: 1.8rem;
  color: #333;
  margin-bottom: 20px;
}
