:root {
    --midnight-blue: #000814;
    --navy-blue: #011D3D;
    --ocean-blue: #003566;
    --golden-yellow: #FFC300;
    --bright-yellow: #FFD60A;
  }

* {
  background-color: var(--midnight-blue);
  display: flex;
  flex-direction: column;
  justify-content: center !important;
  align-items: center;
  overflow-x: hidden;
}

h2, h3{
    color: var(--bright-yellow);
    background-color: var(--navy-blue);
    padding: 10px;
    border-radius: 15px;
}
.job-card{
    background-color: var(--ocean-blue);
    margin: 10px;
    padding: 20px;
    border-radius: 15px;
    width: 90%;
}
.job-card-header{
    color: var(--golden-yellow);
    padding: 15px;
    margin: 10px;
}

button{
    background-color: var(--bright-yellow) !important;
    width: 50%;
    margin: 5px;
}
.status-badge{
    color: greenyellow;
    background-color: red;
    padding: 10px;
    border-radius: 40%;
}
.search-input{
    background-color: var(--ocean-blue);
    color: var(--bright-yellow);
    border: none;
    border-radius: 15px;
    padding: 10px;
}

.form-group{
    background-color: var(--ocean-blue);
    padding: 10px;
    margin: 10px;
    width: 30vh;
    border-radius: 10px;
}
.form-group 
label,
input[type="text"],
select,
textarea {
    width: 90%;
    margin: 5px;
    color: var(--bright-yellow);
}
.form-group
input[type="text"]::placeholder,
select::placeholder,
textarea::placeholder {
    color: var(--bright-yellow);
}

.job-details{
    display: flex;
    color: var(--bright-yellow);
    width: 40%;
}
.info{
    word-wrap: break-word;
    word-break: break-all;
}