/* App container */
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #c9d6ff;
  background: linear-gradient(to right, #e2e2e2, #c9d6ff);
  color: #333;
  font-family: 'Montserrat', sans-serif; /* Added font */
}

/* Header styling */
.App-header {
  text-align: center;
  padding: 20px;
  background-color: #512da8; /* Adjusted to match button */
  color: white;
  border-bottom: 1px solid #0056b3;
}

.App-header h1 {
  margin: 0;
  font-size: 24px;
}

.App-header p {
  margin-top: 10px;
  font-size: 16px;
}


.App-content {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

/* Footer styling */
.App-footer {
  text-align: center;
  padding: 10px;
  background-color: #512da8; 
  color: white;
  font-size: 14px;
  border-top: 1px solid #0056b3;
}

.form-group label {
  color: var(--gold);
  font-weight: bold;
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid var(--dark-navy);
  background-color: var(--dark-blue);
  color: var(--yellow);
}

.submit-button {
  background-color: var(--gold);
  color: var(--dark-blue);
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.jobs-display {
  background-color: var(--navy-blue);
  padding: 15px;
  border-radius: 10px;
}

.search-container {
  margin-bottom: 20px;
}

.search-input {
  padding: 8px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid var(--dark-navy);
  background-color: var(--dark-blue);
  color: var(--yellow);
}

.job-card {
  background-color: var(--dark-navy);
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 15px;
  color: var(--yellow);
}

.job-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.status-badge {
  background-color: var(--yellow);
  color: var(--dark-blue);
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
}

.details-button {
  background-color: var(--gold);
  color: var(--dark-blue);
  padding: 8px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.detail-label {
  font-weight: bold;
  color: var(--yellow);
}

.edit-button img {
  cursor: pointer;
}

.edit-button {
  background-color: var(--gold);
  color: var(--dark-blue);
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.edit-button:hover {
  background-color: var(--navy-blue);
  color: var(--gold);
}